
.custom_banner{
    float: left;
    width: 100%;
    margin-bottom: 40px;
    background-image: url("../../Assets/image/breadcrumb-img.png");
    height: 320px;
    background-size: cover;
   background-repeat: no-repeat; 
   position: relative;
}
.custom_banner::before{
    position: absolute;
    content: "";
    background-color: #000;
    opacity: 0.7;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.custom_banner_header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px 0px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.custom_banner_header h3{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    z-index: 1;
    text-transform: capitalize;
}
.custom_banner_header ul{
    display: flex;
    gap: 0px 6px;
    margin: 0px;
    position: relative;
}
.custom_banner_header ul::before{
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #fff 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #fff 100%);
    background: linear-gradient(to right, #ffffff 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f97242', GradientType=1);
    width: 80px;
    height: 1px;
    top: 50%;
    position: absolute;
    margin-top: -1px;
    content: "";
    left: 100%;
    background-image: url("../../Assets/image/breadcrumb-heaging-img1.png");
}
.custom_banner_header ul::after{
    background: #f97242;
    background: -moz-linear-gradient(left, #f97242 0%, #f97242 100%);
    background: -webkit-linear-gradient(left, #f97242 0%, #f97242 100%);
    background: linear-gradient(to right, #f97242 0%, #f97242 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f97242', endColorstr='#ffffff', GradientType=1);
    right: 100%;
    margin-right: 5px;
    width: 80px;
    height: 1px;
    top: 50%;
    position: absolute;
    margin-top: -1px;
    content: "";
    background-image: url("../../Assets/image/breadcrumb-heaging-img2.png");
}
.custom_banner_header ul li{
    list-style: none;
   font-size: 15px;
}
.custom_banner_header ul li span{
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    background: 0 0;
    border-radius: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 3px;
   padding-left: 1px;
}
.page_navigation{
    display: flex;
    gap: 0px 10px;
   align-items: center;
   z-index: 1;
   padding-top: 10px;
}

.page_navigation a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.page_navigation a:hover{
    color: #f97242;
}
.page_navigation span{
    width: 2px;
    height: 18px;
    transform: rotate(24deg);
    z-index: 1;
    color: #fff;
    background: #fff;
}
.page_navigation p{
    color: #f97242;
    margin: 0px;
   font-size: 16px;
   text-transform: capitalize;
}